    <!--Section: search test-->
    <div class="jumbotron jumbotron-fluid" style=" background-image: url(/assets/images/jumbotronbg.jpg); background-size: cover; min-height: 500px; padding: 5em;margin-top: 0.05em;">
    </div>  
   <main class="my-5">
    
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">  
        <table class="table table-striped">
          <thead >
               <th>Image</th>
               <th>ISBN</th>
               <th>Name</th>
               <th>author</th> 
               <th>Desc</th>
               <th>Options</th>
          </thead>
          <tbody>
            <tr>
                <td *ngIf = "searched_books==undefined || !searched_books.length "> No result found</td>
            </tr>
           <tr *ngFor="let book  of searched_books">
               
            <td ><img style="height: 40px;width: 30px;" src="assets/images/jumbotronbg.jpg" alt="{{book.name}}"/></td>
            <td>{{book.ISBN}}</td>
             <td>{{book.name}}</td>
             <td>{{book.author}}</td>
             <td>{{book.description}}</td>
             <td><a style="color: black;" routerLinkActive="active" routerLink="/book/{{book.id}}">Details</a></td>
            </tr>
        </tbody>
     </table>

      </section>
      <!--Section: Content-->

      <!-- Pagination -->
      <!-- <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </main>