<!--Main layout-->
<div class="jumbotron jumbotron-fluid" style=" background-image: url(/assets/images/jumbotronbg.jpg); background-size: cover; min-height: 500px; padding: 5em;margin-top: 0.05em;">
</div>
  <main class="my-5">
    
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">  
        <h1>Bookshelf Store</h1>

        <h3> Available books in store</h3>
        <table class="table table-striped">
          <thead >
               <th>Image</th>
               <th>ISBN</th>
               <th>Name</th>
               <th>author</th> 
               <th>Desc</th>
               <th>Options</th>
          </thead>
          <tbody>
             <tr *ngFor="let book  of booksList">
               <td ><img style="height: 40px;width: 30px;" src="assets/images/jumbotronbg.jpg" alt="{{book.name}}"/></td>
               <td>{{book.ISBN}}</td>
               <td>{{book.name}}</td>
               <td>{{book.author}}</td>
               <td>{{book.description}}</td>
               <td><a style="color: black;" routerLinkActive="active" routerLink="/book/{{book.id}}">Details</a></td>
             </tr>
          </tbody>
     </table>

      </section>
      <!--Section: Content-->

      <!-- Pagination -->
      <!-- <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="bg-light text-lg-start">
    <div class="text-center py-4 align-items-center">
      <p>Follow Schnitzel GmbH on social media</p>
      <a href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" class="btn btn-primary m-1" role="button"
        rel="nofollow" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.facebook.com/mdbootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/MDBootstrap" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/mdbootstrap/mdb-ui-kit" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->