<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style=" background-image: url(/assets/images/jumbotronbg.jpg); background-size: cover;"></mat-toolbar>
    <mat-nav-list >      
    <div>
        <a mat-list-item routerLinkActive="active" 
           routerLink="/mydashboard">Home</a>
  
        <a mat-list-item routerLinkActive="active" 
            routerLink="/addbook">Add new book</a>
        <a mat-list-item routerLinkActive="active" 
            routerLink="/register">Add new user</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>  
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #722c32c2; color: #FFF;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-hidden="false" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     
      <span>BookShelf Gmbh</span>
      <span class="example-spacer"></span>
      <input style="width: 25em;" placeholder="Search with ISBN/Name/Author" class="form-control" type="text"
       [(ngModel)]="query"> 
       <a routerLink="/search/{{query}}"><i class="fa fa-search" aria-hidden="true" style="margin-left: 0.3em; color: #FFF;"></i></a>   
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>    
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
